appdirs==1.4.3
click==6.7
Flask==0.12.1
Flask-SQLAlchemy==2.2
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.12.1
packaging==16.8
pandas==0.19.2
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
-e git+https://github.com/lrayle/rent-predictor.git@7880c5ffc7941549931c7e9227c994133e8f0525#egg=rent_predictor
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
SQLAlchemy==1.1.9
Werkzeug==0.12.1
